.header{
    height: 4rem;
    background-color: #222;
    display: flex;
    align-items: center;
    gap: 20px;
    padding:20px
}
.icon{
    width: 40px;
    height: 40px;
    
    
}
.main{
    height:55rem ;
    background-color:beige;
    display: flex;
    flex-direction: column;
}
.footer{
    height: 50px;
    background-color: #222;
    display: flex;
    align-items: center;
}   
.section1{
    background-image: url('./recursos/ejercicios-fitness-principiantes-hombres.webp');
    flex: 2;
    background-size: cover;
    background-position: center;}
.section2{
    flex: 1;
    background-color: lightgreen;
    display: flex;
    
}
.img{
    height: 100px;
    width: 100px;
    margin: 0 auto;
    border:none;
    align-self: center;
}



.boton{
    border:none;
    height: 40px;
    width: 100px;
    font-size: 20px;
}